@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.header {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  display: flex;
  gap: 8.375rem;
}

.saudacao {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;

  /* or 178% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.38px;

  color: #ffffff;
}

.previsao {
  display: flex;
  flex-direction: column;
}

.titulo-previsao {
  text-align: center;
  margin-bottom: 8px;
}

.previsao-resultado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.previsao-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(72, 49, 157, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0px rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 10px;
  margin-left: 10px;
  max-width: fit-content;
  height: 54px;
}

.previsao-box p {
  margin-left: 10px;
  font-size: 16px;
}
.previsao-resultado > div {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .previsao-resultado > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }
}
